.Header{
    width: 1440px;
    height: 60px;
display: flex;
align-items: center;
border: 1px solid #000;
justify-content: space-between;
padding: 0 152.5px 0 152.5px;

ul{
    display: flex;
    gap: 50px;
    li{
        list-style: none;
    }
}
div{
    width: 119.4px;
height: 60px;
display: flex;
justify-content: space-between;
align-items: center;
}
}